@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body{
    margin: 0;
    display: grid;
    grid-template-areas: "user main main main main";
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    background: #1e1e24;
    align-items: center;
    justify-content: center;
}

li{
    list-style: none;
}

button{
    inline-size: 10rem;
    margin: auto;
    margin-top: 1rem;
    font-family: 'Kdam Thmor Pro', sans-serif;
    background-color: orangered;
    padding: 1rem;
    border-radius: 24px;
    border: none;
}

.userContent{
    grid-area: "user";
    height: 98vh;
    width: 20vw;
    background-color: rgb(7, 67, 163);
}

.mainContent{
    grid-area: "main";
    height: 98vh;
    width: 78vw;
    background-color: black;
}

.pregunta{
    float:right;
    background-color: yellow;
    color: black;
    border-radius: 50%;
}

#pregunta2{
    margin-top: 10px ;
}

#menuEntrada{
    display: flex;
    width: 30vw;
    height: 60vh;
    margin: auto;
    margin-top: 10%;
    background-color: blueviolet;
    border-radius: 24px;
    min-width: min-content;
    align-items: center;
    justify-content: center;
}

.pinyin{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuBtn{
    margin-right: 40px;
}
  
.containerSeccionFC{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 80vh;
    margin: auto;
    background-color: blueviolet;
    padding: 2rem;
    border-radius: 24px;
}

.containerFlashcard{
    display: none;
    flex-direction: column;
    margin: auto;
    background-color: orangered;
    height: 35vh;
    width: 20vw;
    justify-content: center;
    border-style:ridge;
    border-color: black;
}

.flashcard{
    padding: 1rem;
}

.btnAdd{
    margin: auto;
    width: 100px;
}

.titulo{
    background-color: azure;
    font-family: 'Kdam Thmor Pro', sans-serif;
    opacity: 0.8;
    margin-inline:auto;
    text-justify: center;
    padding: 1rem;
    border-radius: 12px;
}

.containerIcon{
    display: flex;
    align-items: center;
    background-color: rgba(19, 11, 27, 0.8);
    width: 5rem;
    border-radius: 24px;
    color: white;
}

#containerPerfiles{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3,80px);
    margin-left: 260px;
    margin-top: -20px;
    padding: 1rem;
    background-color: beige;
    border-radius: 0px 24px 24px 24px;
}

.containerImg{
    background-size: contain;
    width: 80px;
    height: 80px;
}

#caracter{
    text-align: center;
    font-size: 4rem;
    font-weight: bold;
    line-height: 0rem;
    margin-top: 6rem;
}

#pronunciacion{
    font-size: 1.5rem;
    text-align: center;
}

#significado{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
}

#resetBtn{
    display:none;
}
.subtitulo{
    margin-inline: auto;
    background-color: azure;
    padding: 1rem;
    border-radius: 12px;
}

.busqueda{
    width: 20rem;
    line-height: 1.5rem;
    border-radius: 24px;
    margin-inline: auto;
}

.containerBtns{
    display: flex;
}
#categorias{
    display: flex;
    flex-direction: column;
}

#categorias p{
    background-color: rgba(59, 129, 59);
    text-align: center;
    padding: 0.5rem;
    border-style: dashed;
    font-weight: bolder;
}

#infoTonosUno{
    width: 200px;
    height: 300px;
    position: absolute;
    background-color: rgba(7, 2, 16, 0.9);
    color: white;
    margin-left: 290px;
    margin-top: 70px;
    padding: 1rem;
    border-radius: 0px 24px 24px 24px;
}
#infoTonosUno li{
    padding: 8px;
    list-style: circle;
}

#infoTonosDos{
    width: 200px;
    height: 300px;
    position: absolute;
    background-color: rgba(59, 129, 59,0.9);
    color: white;
    margin-left: 290px;
    margin-top: 70px;
    padding: 1rem;
    border-radius: 0px 24px 24px 24px;
}
#infoTonosUno li{
    padding: 8px;
    list-style: circle;
}
#resultados{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px,1fr));
    margin-top: 1rem;
}
/* resultados del buscador API */
#resultadosAPI{
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3,150px);
    margin-top: 1rem;
}

#return1{
    position: absolute;
    margin-top: 0%;
}
.return{
    position: absolute;
    margin-bottom: 0px;
}

.containerBuscador{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height:80vh;
    margin: auto;
    background-color: blueviolet;
    padding: 2rem;
    border-radius: 24px;
    overflow-y: scroll;
}

.buscadorAPI{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height:80vh;
    margin: auto;
    background-color: blueviolet;
    padding: 2rem;
    border-radius: 24px;
    overflow-y: scroll;
}
#btnAPISearch{
    margin-bottom: 0px;
}

.contenedorRadio{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

#gridMemorice{
    margin: auto;
    margin-top: 10vh;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    justify-content: center;
    background-color: beige
 }
 
 #puntaje{
     color: white;
     font-size: 2rem;
     position: sticky;
     top: 0;
     width: 200px;
     align-self: flex-end;
 }
 
 span{
     position: sticky;
     top: 50px;
     color: white;
     inline-size: 8rem;
     text-align: end;
     font-size: 2rem;
 }
 
 #result{
    width:200px;
    font-size: 2rem;
    inline-size: 2rem;
 }
 
 #timer{
    position: absolute;
    margin-left: 65vw;
    margin-top: -120px;
    background-color: white;
    color: black;
    font-size: 3rem;
    padding: 2rem;
    height: 80px;
    border-radius: 50%;
 }
 
 #container{
     display: flex;
 
 }
 
 .score-timer{
     height: 10rem;
     width: 160px;
     background-color: red;
     opacity: 0.8;
     position: absolute;
 }
 
 .flashcardMemorice{
     height: 100px;
     width: 100px;
     background-size: contain;
     background-color: yellow;
 }
 
 .textoMem{
     text-align: center;
     text-justify: center;
 }
 
 
 #containerFlashcard{
     display: none;
     flex-direction: column;
     margin: auto;
     background-color: orangered;
     height: min-content;
     width: 20vw;
     height: 40vh;
     justify-content: center;
     border-style:ridge;
     border-color: black;
 }
 
 .texto{
    text-align: center;
    text-justify: center;
 }

 #caracter{
     text-align: center;
     font-size: 4rem;
     font-weight: bold;
     line-height: 0rem;
 }
 
 #pronunciacion{
     font-size: 1.5rem;
     text-align: center;
 }
 
 #significado{
     font-size: 2rem;
     text-align: center;
     font-weight: bold;
 }
 
 
/* ESTILOS DE BARRA DE USUARIO */

#userImg{
    height: 200px;
    width: 200px;
    background-image: url(../flashcards/user.jpg);
    background-size: contain;
    margin: auto;
    border-radius: 50%;
    margin-top: 10px;
}

.centrado{
    text-align: center;
}
#infoUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#nombreUsuario{
    color: white;
}

#usuarioCreado{
    color: white;
}

#contenedorRecientes{
    display: flex;
}

#estudiadosRecientes{
    display: grid;
    grid-template-columns: repeat(5,60px);
    color: white;
    margin-left: 30px;
    background-color: rgb(3, 3, 30);
    padding-left: 35px;
}

#panelInfo{
    position: absolute;
    background-color: orange;
    width: 10vw;
    height: 20vh;
    color: black;
    margin-left: 18vw;
    border-radius: 0 24px 24px 0;
    font-weight: bold;
    border-style: line;
    border-color: black;
    text-align: center;
}

.containerJuegoMem{
    display: flex;
}

.containerMemorice{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 80vh;
    margin: auto;
    background-color: blueviolet;
    padding: 2rem;
    border-radius: 24px;
    justify-items: center;
}

.containerMemorice h3{
    background-color: azure;
    font-family: 'Kdam Thmor Pro', sans-serif;
    opacity: 0.8;
    margin-inline:auto;
    text-justify: center;
    padding: 1rem;
    border-radius: 12px;
}
.containerIcon{
    position: absolute;
    margin-top: 500px;
}

.return.memorice{
    margin-top: 600px;
}
.hidden{
    display: none;
}

#avatarBtn{
   position: relative;
   margin-left: 15rem;
   margin-top: -2rem;
   background-color: orange;
   border-radius: 50%;
}

#logout{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: orange;
}

#pregunta{
    margin-right: 87%;
}

#infoUser{
    background-color: orangered;
    border-radius: 24px 24px 0px 0px;
    font-family: 'Kdam Thmor Pro', sans-serif;
}


#infoUser, h2{
    line-height: 1rem;
}
